.orta{text-align: center;
}
.daralt{
    width: 1400px;
    margin-left:300px;
    
}
.alt{
    margin-top:580px ;
   
}
.amacımız{
    margin-top: 50px;
}
.osize{
    size:40px;
}
.kartortala{
    margin: 30px 100px 0px 0px;
}

.margintopurunler{
    margin-top: 100px;
}